<div class="card" *ngIf="isLoading">
  <h5 class="card-header">Loading...</h5>
  <div class="card-block text-xs-center">
    <i class="fa fa-circle-o-notch fa-spin fa-3x"></i>
  </div>
</div>

<div class="card" *ngIf="!isLoading">
  <h5 class="card-header" >Número de gatitos: ({{gatitos.length}})</h5>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Peso</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody *ngIf="gatitos.length === 0">
        <tr>
          <td colspan="4">No existen registros en la BD.</td>
        </tr> 
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let gatito of gatitos">
          <td hidden="true">{{gatito.id}}</td>
          <td>{{gatito.nombre}}</td>
          <td>{{gatito.edad}}</td>
          <td>{{gatito.peso}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(gatito)"><i class="fa fa-pencil"></i> Modificar</button> <button class="btn btn-sm btn-danger" (click)="deleteGatito(gatito)"><i class="fa fa-trash"></i> Borrar</button>
          </td>
        </tr> 
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editGatito(gatito)" style="display:inline">
              <div class="form-group">
                  <input class="form-control" type="text" name="nombre" [(ngModel)]="gatito.nombre" placeholder="Nombre" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="edad" [(ngModel)]="gatito.edad" placeholder="Edad" min="0" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="peso" [(ngModel)]="gatito.peso" placeholder="Peso" step="any" min="0" required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Registrar</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div [hidden]="!infoMsg.body" class="alert alert-{{infoMsg.type}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Mensaje:</strong> {{infoMsg.body}}
    </div>
  </div>
</div>
<div class="card" *ngIf="!isEditing">
  <h5 class="card-header">Agregar un gatito</h5>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addGatitoForm" (ngSubmit)="addGatito()" style="text-align:center">
      <div class="form-group">
          <input class="form-control" type="text" name="nombre" formControlName="nombre" placeholder="Nombre">
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="edad" formControlName="edad" placeholder="Edad" min="0">
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="peso" formControlName="peso" placeholder="Peso" step="any" min="0">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addGatitoForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>

</div>